############################
# Maven / Build
############################
/target/
!.mvn/wrapper/maven-wrapper.jar
**/dependency-reduced-pom.xml
**/pom.xml.versionsBackup
**/.flattened-pom.xml

############################
# IDEs / Editor
############################
# IntelliJ IDEA
/.idea/
/*.iml
/modules.xml
/.idea_modules/
/atlassian-ide-plugin.xml
/.classpath
/.project
/.settings/

# VSCode
.vscode/

############################
# System Files
############################
.DS_Store
Thumbs.db

############################
# Logs / Temp
############################
/*.log
/logs/
*.tmp

############################
# OS / Environment
############################
.env
*.env

############################
# Docker files to KEEP (do not ignore)
############################
!Dockerfile
!docker-compose.yml
!Deploy_prod.sh

############################
# Application Config
############################
# App configurations to KEEP (do not ignore)
!src/main/resources/application*.yml